html {
display: flex;
box-sizing: border-box;
-webkit-box-sizing: border-box;
height: 100%;
background: linear-gradient(170deg, rgba(12, 12, 12, 0.8) 10%, rgba(22, 22, 22, 0.8) 10%, rgba(32, 32, 32, 0.8) 20%, rgba(55, 55, 55, 0.8) 20%, rgba(102, 102, 102, 0.8) 35%, rgba(132, 132, 132, 0.8) 35%, rgba(152, 152, 152, 0.8) 50%, rgba(172, 172, 172, 0.8) 50%, rgba(192, 192, 192, 0.8) 70%, rgba(202, 202, 202, 0.8) 70%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%);
}

.btn {
 background: linear-gradient(-30deg, rgba(52, 52, 52, 0.8) 50%, rgba(122, 122, 122, 0.8) 50%);
 padding: 12px, 12px;
 margin: 12px;
}
