html {
display: flex;
box-sizing: border-box;
-webkit-box-sizing: border-box;
height: 100%;
background: linear-gradient(170deg, rgba(12, 12, 12, 0.8) 10%, rgba(22, 22, 22, 0.8) 10%, rgba(32, 32, 32, 0.8) 20%, rgba(55, 55, 55, 0.8) 20%, rgba(102, 102, 102, 0.8) 35%, rgba(132, 132, 132, 0.8) 35%, rgba(152, 152, 152, 0.8) 50%, rgba(172, 172, 172, 0.8) 50%, rgba(192, 192, 192, 0.8) 70%, rgba(202, 202, 202, 0.8) 70%), linear-gradient(45deg, rgb(25, 25, 25, 80%) 20%, rgba(25, 5, 5, 80%) 20%, rgba(55, 5, 5, 0.8) 35%, rgba(75, 0, 0, 0.8) 35%, rgba(122, 0, 0, 0.8) 50%, rgba(155, 0, 0, 0.8) 50%, rgba(175, 0, 0, 0.8) 75%, rgba(205, 0, 0, 0.8) 75%, rgba(0, 2, 132, 80%) 100%, rgba(0, 0, 192) 100%);
}

.btn1 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 15px;
background-color: rgb(122, 122, 122);
}

.btn2 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn3 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn4 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn5 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn6 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn7 {
border-radius: 6px;
margin: 5px;
padding: 6px;
color: hsl(0deg, 69%, 90%);
text-align: center;
text-decoration: none;
width: 50px;
background-size: 50% auto;
font-size: 16px;
background-color: rgb(122, 122, 122);
}

.btn1::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn1:hover::before {
  opacity: 0.2
}

.btn2::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn2:hover::before {
  opacity: 0.2
}

.btn3::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn3:hover::before {
  opacity: 0.2
}

.btn4::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn4:hover::before {
  opacity: 0.2
}

.btn5::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn5:hover::before {
  opacity: 0.2
}

.btn6::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn6:hover::before {
  opacity: 0.2
}

.btn7::before {
  width: 50px;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out; 
}

.btn7:hover::before {
  opacity: 0.2
}
